<%= form_for @relationship, :html => { :class => "text-center" } do |f| %>
  <% if @relationship.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title, :autofocus => true %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows => 3 %>
    </div>
  </div>
  <div class="actions text-center">
    <%= f.submit %>
  </div>
<% end %>
